<ul class="social_media <%= local_assigns[:invisible] ? "invisible" : "visible" %>">
    <li><a class="github" href="#">github</a></li>
    <li><a class="linkedin" href="#">linkedin</a></li>
    <li><a class="twitter" href="#">twitter</a></li>
</ul>
